*.iml
.gradle
/local.properties
/.idea
/.idea/compiler.xml
/.idea/misc.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
google-services.json
client_secret_507380588261-ntghd6ugqk1v2fg7c9tf2dp891e6nvqc.apps.googleusercontent.com.json
/app/release